@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --preto: #160d18;
  --verde-claro: #1ca39e;
  --verde-escuro: #026f6e;
  --azul-esverdeado: #09456c;
  --azul: #23145b;
  --branco: #ffffff;
  --cinza: #dcdcdc48;
  --cinza_bk: #202329;
  --azul-escuro: #032030;
  --azul-escuro-2: #022b42;
  --azul-escuro-3: #003554;
  --azul-escuro-4: #004d74;
  --azul-escuro-5: #006494;
  --azul-escuro-6: #006da4;
}

nav, footer {
  background-color: var(--azul-escuro);
}
.active a {
  color: var(--azul-escuro-6);
}

.bg-experience, .bg-projects {
  background-color: var(--azul-escuro-3);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

/* Fundo da scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--azul-escuro-3); /* Cor cinza claro */
}

/* Cor da área visível da scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--azul-escuro-6);
  border-radius: 6px;
}

/* Para navegadores Mozilla Firefox */
/* Largura da scrollbar */
::-moz-scrollbar {
  width: 12px;
  background: black;
}

/* Fundo da scrollbar */
::-moz-scrollbar-track {
  background-color: var(--azul-escuro-3); /* Cor cinza claro */
}

/* Cor da área visível da scrollbar */
::-moz-scrollbar-thumb {
  background-color: var(--azul-escuro-6);
  border-radius: 6px;
}

/* Para navegadores Microsoft (Edge, IE) */
/* Largura da scrollbar */
::-ms-scrollbar {
  width: 12px;
  background: black;
}

/* Fundo da scrollbar */
::-ms-scrollbar-track {
  background-color: var(--azul-escuro-3); /* Cor cinza claro */
}

/* Cor da área visível da scrollbar */
::-ms-scrollbar-thumb {
  background: var(--azul-escuro-6);
  border-radius: 6px;
}

::selection {
  background-color: var(--azul-escuro-6);
  color: var(--preto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--preto);
  background-color: #cecfd0;
}

.bg-tec {
  background-color: var(--azul-escuro);
  color: var(--branco);
}
.bg-tec:hover {
  
  -webkit-box-shadow: 0px 6px 26px 3px rgba(0,100,148,1);
-moz-box-shadow: 0px 6px 26px 3px rgba(0,100,148,1);
box-shadow: 0px 6px 26px 3px rgba(0,100,148,1);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--branco);
  cursor: pointer;
}

.bg_app {
  background-image: linear-gradient(to right, rgba(3, 32, 48, 0.73), rgba(3, 32, 48, 0.8)), url(/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}